.shop-table {
    min-width: 20vw;
}

.shop-table,
.shop-table th,
.shop-table td {
    margin: 10px;
    border-collapse: collapse;
    border: 1px solid black;
}

.shop-table tbody tr:nth-child(odd){
    background: #fff;
}

.shop-table tbody tr:nth-child(even){
    background: #F7F7F7;
}