#table,
#table th,
#table td {
    border-collapse: collapse;
    border: 1px solid black;
}

#table tbody tr:nth-child(odd){
    background: #fff;
}

#table tbody tr:nth-child(even){
    background: #F7F7F7;
}